$smaller: 480px;
$medium: 768px;
$large: 1024px;

@mixin for-greater-than-smaller {
  @media (min-width: $smaller) {
    @content;
  }
}

@mixin for-greater-than-medium {
  @media (min-width: $medium) {
    @content;
  }
}
@mixin for-greater-than-larger {
  @media (min-width: $large) {
    @content;
  }
}

.about{

    padding: 4rem 3rem;

    @include for-greater-than-medium(){
        padding: 4rem;
    }

    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .top{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            
            gap: 4rem;

            .left{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 4rem;
                flex-wrap: wrap;

                @include for-greater-than-medium(){
                    width: 50%;
                }

                .headings{
                    h2{
                        font-size: 4.7rem;
                        font-weight: 700;
                        line-height: 5.5rem;
                        letter-spacing: 0em;
                        text-align: left;

                    }
                }

                .desc{
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    p{
                        font-size: 2.5rem;
                        font-weight: 400;
                        line-height: 2.9rem;
                        letter-spacing: 0em;
                        text-align: left;

                        span{
                            color: #2DF4F2;
                        }
                    }
                }
            }

            .right{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                position: relative;  
                
            @include for-greater-than-medium(){
                width: 40%;
              }                  
                
                .image-container {
                    width: 100%;
                
                    > div {
                    position: unset !important;
                    }
                
                    .image {
                    object-fit: contain;
                    width: 100% !important;
                    position: relative !important;
                    height: unset !important;
                    }
                }
            }

        }

    }
}

