
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  background:#1C0032;
}

.header-bg{
  background: url('/header-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-container {
  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 48%; /* 8px */
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 50%; /* 8px */
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 40%; /* 6.4px */
  }
}
@media screen and (max-width: 290px) {
  html {
    font-size: 34%;
  }
}
@media screen and (max-width: 228px) {
  html {
    font-size: 28%;
  }
}
